image: Visual Studio 2022

#---------------------------------#
#  Build Script                   #
#---------------------------------#
build_script:
  - ps: .\build.ps1 --target=Test

# Tests
test: off

artifacts:
- path: buildArtifacts\Nuget\*.*nupkg
  name: NuGet package

#---------------------------------#
#        Branches to build        #
#---------------------------------#
branches:
  # Whitelist
  only:
    - develop
    - master
    - /release/.*/
    - /hotfix/.*/

#---------------------------------#
#  Build Cache                    #
#---------------------------------#
cache:   
- tools -> build.cake

# here we are going to override common configuration
for:
# master branch
-
  branches:
    only:
      - master  
  build_script:
  - ps: .\build.ps1 --Target=Test
  deploy:
  - provider: NuGet
    artifact: /NuGet/
    api_key:
      secure: AJ14IERxVAn6UUsc2lqOpUfhiyvyY60lHfNUUe4baJoG71rRHCwlKVSPmmLjHdxP
